<ion-content no-padding>
  <div class="bg-pattern">
    <img src="assets/img/pattern-coffee.png">
  </div>
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="auth-header">
            <h1 class="size-font--24 text-color--black">Login</h1>
            <p class="size-font--12 text-color--grey weight-font--normal">Masukkan email dan kata sandi kamu dibawah ini</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <div class="bg-illustration">
            <img src="assets/img/illustration-login.png">
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="auth-input">
            <ion-label class="gil-font size-font--14 text-color--grey weight-font--bold">Email</ion-label>
            <ion-input class="blank-input size-font--12" inputmode="email" formControlName="surel" placeholder="Ketikkan email..." [class.invalid]="!form.controls.surel.valid && (form.controls.surel.dirty || submitAttempt)" (ionInput)="inputTyping()" required></ion-input>
            <span class="error" *ngIf="submitAttempt && errorControl.surel.errors?.required">
              Kamu kelupaan isi email
            </span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="auth-input">
            <ion-label class="gil-font size-font--14 text-color--grey weight-font--bold">Kata Sandi</ion-label>
            <ion-item no-lines [class.invalid]="!form.controls.katasandi.valid && (form.controls.katasandi.dirty || submitAttempt)">
              <ion-input class="size-font--12" [type]="showPassword ? 'text' : 'password'" clearOnEdit="false" formControlName="katasandi" placeholder="Ketikkan kata sandi..." (ionInput)="inputTyping()" required></ion-input>
              <ion-icon class="size-font--18" (click)="onPasswordToggle()" [name]="showPassword ? 'eye-off' : 'eye'"></ion-icon>
            </ion-item>
            <span class="error" *ngIf="submitAttempt && errorControl.katasandi.errors?.required">
              Kamu kelupaan isi kata sandi
            </span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="full" class="btn-login button-rounded" shape="round" (click)="goToHome()">Masuk</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="full" color="secondary" class="button-rounded" shape="round" (click)="goToRegister()">Daftar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
