ion-content {
    overflow: hidden;
    position: relative;
}
  
.modal-container {
    margin: 0px 16px 10px 10px;
}

.modal-title {
    font-weight: 600;
    font-size: 18px;
    color: var(--ion-color-black);
    text-align: center;
}
  