<ion-list class="popover-container">
  <ion-item class="popover-title ion-text-center" lines="none">
    <ion-label text-wrap>
      <img src="assets/img/goffee.png" height="40px">
    </ion-label>
  </ion-item>
  <ion-item class="popover-content ion-text-center" lines="full">
    <div class="text-full">
      Versi 1.0.0<br><br>
      Dibuat oleh:<br>
      <strong>(0617104023) - Raka Maheka A</strong><br>
      <strong>(0617104026) - Fraiza Geraldi A</strong><br>
      <Br>
      Untuk memenuhi Tugas Besar IMK oleh:<br>
      <strong>Ibu Yan Puspitarani , S.T., M.T.</strong>
    </div>
  </ion-item>
  <ion-button class="button-rounded popover-button" expand="block" shape="round" (click)="closePopover()">
    <ion-text>Tutup</ion-text>
  </ion-button>
</ion-list>
