.detail-header {
    position: relative;
    background: url('/assets/img/coffee-pattern.jpg') top center;
    background-size: cover;
    width: 100vw;
    height: 92px;

    .detail-logo {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -40px;
        margin: auto;
        width: 80px;
        height: 80px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
            border: 1px solid var(--ion-color-grey);
        }
    }
}

.detail-info {
  margin: 50px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .info-title {
    text-align: center;
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
    min-width: 50vw;
  }
  
  .info-clock {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 0px;
    min-width: 50vw;
  
    img {
      width: 14px;
      height: 14px;
      margin-right: 5px;
    }
  
    span {
      font-size: 12px;
      color: var(--ion-color-grey);
    }
  }
  
  .info-other {
    max-width: 210px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 6px auto 20px auto;

    .info-item {
      display: flex;
      align-items: center;
      color: var(--ion-color-black);
      margin: auto 5px;
      
      img {
        width: 14px;
        height: 14px;
        margin-right: 5px;
      }
  
      span {
        font-size: 12px;
      }
    }
  
    .info-promo {
      display: flex;
      align-items: center;
      color: var(--ion-color-secondary);
      margin: auto 5px;

      img {
        width: 14px;
        height: 14px;
        margin-right: 5px;
      }
  
      span {
        font-size: 12px;
      }
    }
  }

  .btn-rating {
    font-size: 12px;
    text-transform: none;
    min-height: 36px;
    min-width: 150px;
  }
}

.grid-list {
  margin: 10px 12px 0px 12px;
}

ion-item {
  --padding-start: 0px;
  --padding-end: 0px;
  --padding-top: 4px;
  --padding-bottom: 4px;
  --ripple-color: var(--ion-color-grey);
  --inner-padding-end: 0px;

  .list-logo {
    border: 1px solid var(--ion-color-softgrey);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 74px;
    height: 74px;
    margin-right: 16px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
    }
  }

  .list-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;

    .title-name {
      overflow: hidden;
      white-space:nowrap;
      text-overflow:ellipsis;
      width:46vw;
    }
  }

  .list-desc {
    display: flex;
    align-items: center;
    margin: 4px 0px;

    img {
      width: 14px;
      height: 14px;
      margin-right: 5px;
    }

    span {
      font-size: 12px;
      color: var(--ion-color-grey);
      overflow: hidden;
      white-space:nowrap;
      text-overflow:ellipsis;
      width:36vw;
      display:inline-block;
    }
  }

  .list-price {
    display: flex;
    align-items: center;
    margin: 7px 0px;

    img {
      width: 14px;
      height: 14px;
      margin-right: 5px;
    }

    span {
      font-size: 12px;
      font-weight: bold;
      color: var(--ion-color-black);
      font-family: 'Gilroy';
    }
  }

  .list-other {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4px 0px;

    ion-button {
      text-transform: none;
      min-height: 36px;
      --box-shadow:none;
      --border-radius: 10px;
    }

    .list-item {
      display: flex;
      align-items: center;
      color: var(--ion-color-black);
      img {
        width: 14px;
        height: 14px;
        margin-right: 5px;
      }
  
      span {
        font-size: 12px;
      }
    }

    .list-promo {
      display: flex;
      align-items: center;
      color: var(--ion-color-secondary);
      img {
        width: 14px;
        height: 14px;
        margin-right: 5px;
      }
  
      span {
        font-size: 12px;
      }
    }
  }
}

.btn-add {
  font-size: 12px;
  font-family: 'Gilroy';
  font-weight: bold;

  ion-icon {
    font-size: 12px;
    margin-right: 5px;
  }
}

.btn-cancel {
  margin-bottom: 70px;
}

ion-footer {
  background: white;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 10px;

  .button-order {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 52px;
    font-family: 'Gilroy';
    font-weight: 500;
    letter-spacing: 1px;
  }
}